/**
SECTION: COMMON;
**/
#middle {
	padding: 0 0 60px;
}
/**
END SECTION: COMMON;
**/

/**
SECTION: ID CARD **/
.idcard-form {
	margin: 0 0 20px;
}
.idcard-preview-box .module-body {
	overflow: auto;
}
.idcard {
	color: #111;
	width:100%;
	height: 187px;
}
.idcard .idcard-front {
	float: left;
	width: 300px;
	height: 183px;
	border: 1px solid #111;
	margin: 0 3px 5px 0;
}
.idcard .idcard-front .idcard-header {
	background-color: rgb(17, 84, 136);
	width: 100%;
	text-align: center;
	height: 50px;
	padding: 0;
	float: left;
}
.idcard .idcard-front .idcard-header .idcard-pillar {
	height: 50px;
	text-align: center;
	float: right;
	width: 45px;
	background: #F5F5F5;
	margin: 0 5px 0 0;
}
.idcard .idcard-front .idcard-header .idcard-pillar img {
	height: 47px;
	width: 28px;
	margin: 3px 0 0;
}
.idcard .idcard-front .idcard-header span {
	display: block;
	color: #fff;
	font-family: Arial;
	font-size: 9px;
	line-height: 12px;
	font-weight: bold;
}
.idcard .idcard-front .idcard-header span.idcard-title {
	margin: 4px 0 0;
}
.idcard .idcard-front .idcard-header h3 {
	font-size: 13px;
	color: #fff;
	margin: 4px 0 0;
}
.idcard .idcard-front .idcard-body {
	height: 95px;
	width: 100%;
	float: left;
	margin: 6px 0 0;
}
.idcard .idcard-front .idcard-body .idcard-photo {	
	width: 60px;
	height: 70px;
	overflow: hidden;
	margin: 0 5px 0 0;
	float: right;
}
.idcard .idcard-front .idcard-body .idcard-photo i {
	font-size: 49px;
}
.idcard .idcard-front .idcard-body .idcard-detail {
	width: 220px;
	height: 95px;
	margin: 0 0 0 10px;
	float: left;	
}
.idcard .idcard-front .idcard-body .idcard-detail p {
	font-size: 9px;
	font-family: Tahoma;
	padding: 0;
	margin: 0;
	vertical-align: top;
	line-height: 13px;
	float: left;
	width: 88%;
	color: #111;
}
.idcard .idcard-front .idcard-body .idcard-detail p span.idcard-label {
	float: left;
	width: 62px;
}
.idcard .idcard-front .idcard-body .idcard-detail p span.idcard-separator {
	float: left;
	width: 10px;
}
.idcard .idcard-front .idcard-body .idcard-detail p span.idcard-value {
	float: left;
	font-weight: bold;
}
.idcard .idcard-front .idcard-footer {
	float: left;
	width: 100%;
	height: 30px;
	padding: 0 0 5px;
}
.idcard .idcard-front .idcard-footer .idcard-barcode {
	float: left;
	font-family: Arial;
	color: #111;
	font-size: 11px;
	font-weight: bold;
	line-height: 100%;
	margin: 0 auto 0 73px;
	overflow: hidden !important;
}
.idcard .idcard-back {
	float: left;
	width: 300px;
	height: 183px;
	border: 1px solid #111;
	padding: 0 10px;
	position: relative;
}
.idcard .idcard-back h4 {
	font-size: 8px;
	text-transform: uppercase;
	font-family: Arial;
	margin: 0;
	padding: 8px 0 2px;
	color:#111;
	font-weight: bold;
}
.idcard .idcard-back h4 span {
	font-weight: normal;
	text-transform: none;
}
.idcard .idcard-back pre {
	font-family: Arial;
	font-size: 9px;
	line-height: 12px;
	margin: 0;
	padding: 0;
	background: none;
	border: none;
}
.idcard .idcard-back hr {
	margin: 0;
	background: #000;
	height: 1px;
	border:none;
}
.idcard .idcard-back .idcard-signature {
	font-size: 9px;
	font-family: Arial;
	color: #111;
	line-height: 12px;
	position: absolute;
	right: 10px;
	bottom: 57px;
}
.idcard .idcard-back .terms {
	position: absolute;
	bottom: 10px;
	width: 275px;
}
.idcard .idcard-back .terms ol {
	padding: 5px 0 0 14px;
	margin: 0;
}
.idcard .idcard-back .terms li {
	margin: 0;
	padding: 0;
	font-size: 9px;
	color: red;
}
.idcard .idcard-back .idcard-logo {
	position: absolute;
	top: 6px;
	right: 6px;
}

/**
END SECTION: ID CARD **/

/**
SECTION: DATEPICKER **/
.datepicker .datepicker-table {
  border: 1px solid #ccc;
  width: 238px;
}
.datepicker .datepicker-table th,
.datepicker .datepicker-table td {
  padding: 6px 8px;
}
.datepicker .datepicker-table .today,
.datepicker .datepicker-table .switch,
.datepicker .datepicker-table .prev,
.datepicker .datepicker-table .next {
  cursor: pointer;
}
.datepicker .datepicker-table .prev,
.datepicker .datepicker-table .next {
  width: 14.285714285714286%;
  text-align: center;
}
.datepicker .datepicker-table .switch {
  width: 71.42857142857143%;
  text-align: center;
}
.datepicker .datepicker-table .month,
.datepicker .datepicker-table .year {
  background: #f5f5f5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  margin: 2px;
  width: 60px;
}
.datepicker .datepicker-table .month:hover,
.datepicker .datepicker-table .year:hover {
  background: #eaeaea;
}
.datepicker .datepicker-table .old,
.datepicker .datepicker-table .new {
  background: #f5f5f5;
}
.datepicker .datepicker-table .day:hover,
.datepicker .datepicker-table .active {
  background: #ffc;
  font-weight: bold;
  cursor: pointer;
}
.datepicker .datepicker-table tbody {
  border-top: 1px solid #ccc;
}
.datepicker .datepicker-table tbody tr + tr td {
  border-top: 1px solid #d5d5d5;
}
.datepicker .datepicker-table tbody td {
  text-align: center;
  width: 14.285714285714286%;
}
.datepicker .datepicker-table tbody td + td {
  border-left: 1px solid #d5d5d5;
}
.datepicker .datepicker-table tfoot th,
.datepicker .datepicker-table tfoot td {
  border-top: 1px solid #ccc;
}
.datepicker-dropdown {
  padding: 0;
  overflow: hidden;
}
.datepicker-dropdown .table-condensed {
  border: 0;
}
/**
END SECTION: DATEPICKER **/

/**
SECTION: MEMBER **/
.member-form .idcard-detail .row {
	margin: 0 0 15px;
}
.list-member-idcard .modal-dialog {
	width: 670px;
}
/**
END SECTION: MEMBER **/
/**
SECTION: BOOKS **/
.browse-books .panel-heading span.btn {
	margin: 9px 5px 0 0;
}
.browse-books ol {
	list-style-position: outside;
	padding: 0 0 0 20px;
}
.browse-books li {
	padding: 15px 0 10px;
	margin: 0 0 10px;
	border-bottom: 1px solid #eee;
	position: relative;
}
.browse-books li .book-title {
	cursor: pointer;
}
.browse-books li small.created_at {
	position: absolute;
	top: 0;
	right: 0;
}
/**
END SECTION: BOOKS **/

/**
SECTION: ISSUE **/
.new-issue .panel-heading {
	cursor: pointer;
}
.new-issue table .remove-item {

}
/**
END SECTION: ISSUE **/
.stat-block {
	cursor: pointer;
}
